@media (max-width:838px){
    /* .vector1_header, .vector2_header, .vector3_header */
    .menu_nav,.aside_header, .aside_comment {
        display: none;
    }

    .menu{
        height: 0px;
    }

    .menu_burger{
        visibility: visible;
        height: auto;
        width: 100%;
        position: relative;
        top:10px;
    }

    #menu_toggle:checked ~ .menu_item_box{
        visibility: visible;
        width: 300px;
        gap:10px;
        height:200px;
    }

    .header .head_start_business_h {
        position: relative;
        top:10px;
    }

    .watch_introduction_btn {
       
        padding: 15px 24px;
        border-radius: 25px;
        font-size: 12px;
        color: var(--color-dark-green);;
        background-color: var(--color-light-green);
    }

    .section_speed_content{
        text-align: center;
    }

    .key_benefits_list{
        flex-direction: column;
        align-items: center;
    }

    .key_benefits_list .key_benefits_list_point{
        width: 75%;
    }

    .comment_section_list{
        flex-direction: column;
    }

}

@media (max-width:650px){
    .efficient_list_img{
        display: none;

    }
    
    .input_label_subscribe{
        width: 100%;
    }
    
    .input_label_subscribe .subscribe_input{
        width: 90%;
    }

    .input_label_subscribe .subscribe_button{
        width: 60%;
    }

    .footer_rights_social{
        flex-direction: column;
        
    }
}

@media (max-width:1035px){
    .aside_section_speed, .efficient_aside, .subscribe_img_aside{
        display: none;

    }

    .speed_position, .footer_pages, .footer_contact{
        justify-content: center;
    }

    .speed_h, .speed_logo{
        justify-self: center;
    }

    section .key_benefits_text{
        width:80%;
    }

    section .section_speed_content, .efficient_content{
        flex: 0 0 100%;
        align-items: center;
    }

    .key_benefits_aside{
        display: none;
    }

    .speed_text, .efficient_list_p{
        text-align: center;
    }

    .section_key_benefits{
        padding-top:100px;
    }

    .efficient_list_list{
        align-items: center;
    }

    .pricing_plans_list, .blog_list{
        flex-direction: column;
        gap:50px;
    }

    .pricing_plans_list .pricing_plans_list_point{
        align-self: center;
        width: 90%;
        padding: 5%;
    }
    
    .waves_pricing{
        display: none;
    }

    .input_label_subscribe {
        flex-direction: column;
        gap:20px;
    }

    .footer .subscribe_form{
        padding-left: 8%;
    padding-right: 8%;
    }

    .footer_content{
        flex-direction: column;
        gap:120px;
    }

    .footer_content .footer_pages{
        width: 100%;
        gap: 15%;
    }

}