.comment_section{
    padding-right: 5%;
    padding-left: 5%;
    background-color: var(--color-dark-green);
    width: 111%;
    position: relative;
    left: -5.55%;
    padding-bottom: 100px;
}

.comment_back_img_1{
position: absolute;
right: 0;
z-index: 1;
}
.comment_back_img_2{
z-index: 1;
position: absolute;
bottom:50px;
left: 0;

}

.comment_section_logo{
    color: white;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.comment_section_h{
    font-family: var(--font-family-h);
    font-size: 48px;
}

.comment_section_text{
    font-size: 17px;
    padding-top: 27px;
}

.comment_list{
    position: relative;
    z-index: 5;
    flex:1;

}

.comment_point{
    background-color: white;

    border-radius: 32px;
    margin-bottom: 50px;
    padding: 5%;
}

.comment_point_img{
    width:50px;
}

.five_star_comment_img{
    max-width: 200px;
}

.gap_15px{
    gap: 15px;
}

.comment_point_p{
    font-size: 18px;
    color:#49616E;
    position: relative;
    padding-top:30px;
    padding-bottom: 20px;
}

.comment_point_h2{
    font-size: 16px;
    color:#49616E;
}

.comment_point_h3{
    font-size: 15px;
}

