.section_pricing{
    position: relative;
}

.pricing_logo{
    background-color: var(--color-light-green);
    padding: 10px 20px;
    border-radius: 25px;
    
}

.pricing_h{
    font-size: 48px;
    font-family:var(--font-family-h);
    padding-top: 15px;
    text-align: center;
}

.pricing_p{
    font-size: 17px;
    padding-top: 20px;
    color: #49616E;
    text-align: center;
    padding-bottom: 100px;

}

.pricing_plans_list{
width: 100%;
gap: 3%;
}


.pricing_plans_list_point{
    background-color: var(--color-dark-green);
    border-radius: 32px;
    /* vertical-align: bottom;  */
    color: white;
    padding: 2%;
    flex:31%;
    min-height: 750px;
    

}


.pricing_plans_list_point_img{
    width:15%
    
    
}

.pricing_plans_list_point_h2{
    font-size: 20px;
    font-family: var(--font-family-h);
    padding-top: 80px;
    
}

.pricing_plans_list_point_h1{
    font-size: 32px;
    font-family: var(--font-family-h);
    padding-top: 10px;
    padding-bottom: 8px;
    
    
}

.pricing_plans_list_point_span{
    font-size: 56px;
    
}

.pricing_plans_list_point_h4{
    font-size: 16px;
    
}

.pricing_plans_list_point_hr{
    border: none;
    border-top: 1px solid #223E4E;
    width: 100%;
    margin: 50px 0;
}

.pricing_plans_list_include{
padding-top: 20px;
padding-bottom: 20px;
}

.pricing_plans_list_include_point {
    position: relative;
    padding-left: 30px; 
    font-size: 15px;
}

.pricing_plans_list_include_point::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: var(--color-light-green); 
    border-radius: 50%; 
}

.pricing_plans_list_point_a {
    background-color: var(--color-light-green); 
    border-radius: 64px;
    padding: 20px;
    width: 100%;
    text-align: center; 
    margin-top: auto; 
    

}


.pricing_plans_list_point_special {
    min-height: 825px;
    background-color: var(--color-light-green); 
    color: var(--color-dark-green); 
    flex: 38%; /* Середній блок займає 38% ширини */
    
}

.pricing_plans_list_point_special_a {
    background-color: var(--color-dark-green);  
    color: white; 
    border-radius: 64px;
    padding: 20px;
    width: 100%;
    text-align: center; 
    margin-top: auto; 
}
.pricing_plans_list_point_special_a:hover {
    font-weight: bold;
}

.pricing_plans_list_point_special .pricing_plans_list_include_point::before {
    
    background-color: var(--color-dark-green); 

}

.waves_pricing{
    position: absolute;
    right: -75px;
    top: 20px;

}
