@import url(base.css);
@import url(reset.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(speed_section.css);
@import url(key_benefits_section.css);
@import url(efficient_section.css);
@import url(comment_section.css);
@import url(pricing_section.css);
@import url(adaptive.css);





body{
    display: flex;
    flex-direction: column;
    /* Сайт по центру */
    margin: auto;
    /* Ширина сайту */
    font-family: var(--font-family-text);
    /* font-size: var(--font-size-text); */
}

a{
    color: var(--color-dark-green);
}
a:hover{
    cursor: pointer;
}

.flex{
    display: flex;
}

/* Перенос на наступний рядок */
.flex_wrap{
    flex-wrap: wrap;
}
/* Вирівнбвання по вертикалі */
.flex_align_center{
    align-items: center;
}

.flex_align_start{
    align-items: start;
}

.flex_align_end{
    align-items: end;
}

.flex_align_self_end{
    align-items: end;
}
/* Вирівнбвання по горизонталі */
.flex_justify_center{
    justify-content: center;
}
.flex_justify_self_center{
    justify-self: center;
}
.flex_justify_end{
    justify-content: end;
}

.flex_justify_self_end{
    justify-self: end;
}
.flex_column{
    flex-direction: column;
}

.flex_justify_space{
    justify-content: space-between;
}

.flex_1{
    flex:1;
}

.flex_align_self_center{
    align-self: center;
}

.flex_align_self_start{
    align-self: start;
}
.flex_align_self_end{
    align-self: end;
}

.align_content_space_between{
    align-content: space-between;
}
/* .container {
padding-left: 50px;
padding-right: 50px;
} */


.text_h2{
    padding-top: 29px;
    font-size: var(--font-size-h2);
    font-family: var(--font-family-text);
    text-align: center;
}

.get_start_list{
    gap: 40px;
    flex-wrap: wrap;
}